<div>
  <h5
    class="m-4 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
  >Edit your posts</h5>
</div>
{{#each posts as |post|}}
<form id="edit-post">
  <input type="hidden" id="postnum" value="{{post.id}}"  />
  <div
    class="m-4 border border-gray-200 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-600"
  >
    <div class="p-3 border-b dark:border-gray-600">
      <div>
        <div class="">
          <label
            for="title"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Post title</label>
          <textarea
            id="title{{post.id}}"
            rows="1"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-green-500 focus:border-green-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
          >{{post.title}}</textarea>

        </div>
      </div>
    </div>
    <div class="p-3 bg-white rounded-b-lg dark:bg-gray-800">
      <label
        for="post"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Post content</label>
      <textarea
        id="content{{post.id}}"
        rows="8"
        class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-green-500 focus:border-green-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
        required
      >{{post.description}}</textarea>
    </div>
  </div>
  <button
    type="click"
    id="update-btn" data-id="{{post.id}}"
    class="btn ml-4 inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-green-700 rounded-lg focus:ring-4 focus:ring-green-200 dark:focus:ring-green-900 hover:bg-green-800"
  >
    Update post
  </button>
  <button
    type="click" data-id="{{post.id}}"
    class="delete-btn ml-4 inline-flex items-center px-5 py-2.5 text-sm font-medium text-center text-white bg-red-700 rounded-lg focus:ring-4 focus:ring-red-200 dark:focus:ring-red-900 hover:bg-red-900"
  >
    Delete post
  </button>
  {{/each}}
</form>

<script src="./js/edit.js"></script>